@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .borda {
        border: 1px solid #a9a9a9;
        border-radius: 15px;
        padding: 20px;
        background-color: #d3d3d3;
    }
    .fundo{ background-color: pink;}
    .centraliza {
        text-align:center;
    }
</style>

<div class="borda centraliza">
    <h3>Bem vindo ao curso de ASP.NET</h3>
</div>
<h4>Aproveite todo o conteúdo</h4>
<ul>
    <li>ASP.NET MVC</li>
    <li>Entity FrameWork</li>
    <li>ASP.NET CORE</li>
    <li>E muito mais...</li>
</ul>
<hr />

<button type="button" class="btn fundo btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>

<hr />



